* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
}

.main-container {
    background-color: #242424;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    width: 480px;
    height: 480px;
    gap: 8px;
}

.game-board-cell {
    background-color: wheat;
    font-size: 80px;
    font-weight: bold;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}