* {
    font-family: Syncopate, Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/syncopate-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #222222;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    background-image: url(../images/background.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#game-board {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    width: 480px;
    height: 480px;
    box-shadow: 0 0 15px white;
    backdrop-filter: brightness(300%);
    padding: 2px;
    gap: 8px;
}

.game-board-cell {
    background-color: #161616;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-board-cell:hover {
    opacity: 90%;
}

.game-board-cell[data-highlighted="true"] {
    background-color: #fff59d;
}

#newGame-btn{
    visibility: hidden;
    display: block;
    color: white;
    padding: 8px;
    background-color: #222222;
}

#newGame-btn[data-enabled="true"]:hover{
    box-shadow: 3px 3px black;
    transform: translate(-3px, -3px);

    div {
        transform: rotate(-360deg);
    }
}

#newGame-btn[data-enabled="true"] {
    visibility: visible;

    div {
        transition: 0.35s;
    }
}

button {
    cursor: pointer;
}

header {
    background-color: #fff59d;
    margin: 0;
    padding: 32px;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 12px;
    font-size: 10px;
    color: lightgray;

    a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        transition: 0.2s;
    }

    a:hover {
        text-shadow: 1px 1px #ff6969ff;
    }
}

.game-text-container {
    padding: 16px 32px;
    margin-top: 32px;
    background-color: #222222;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
}

p {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    margin: 0;
}

p.game-active-player {
    font-weight: bold;
}